---
import "../styles/tailwind.css";
import "../styles/global.css";
import "animate.css";
const { title } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/jpg" href="/images/britain1.jpg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
    <meta name="description" content={Astro.props.description} />
    <meta property="og:locale" content="da_DK" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={Astro.props.ogtitle} />
    <meta property="og:description" content={Astro.props.ogdescription} />
  </head>
  <body>
    <header></header>

    <main>
      <slot />
    </main>

    <footer></footer>
  </body>
</html>
