---
import "../styles/tailwind.css";
import "../styles/global.css";
import "animate.css";
const { title } = Astro.props;
import Header from "../components/Header.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/webp" href="/images/britpop.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
    <meta name="description" content={Astro.props.description} />
    <meta property="og:locale" content="da_DK" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={Astro.props.ogtitle} />
    <meta property="og:description" content={Astro.props.ogdescription} />
  </head>
  <body class="max-w-7xl mx-auto">
    <header>
      <Header />

      <main>
        <slot />
      </main>

      <footer></footer>
    </header>
  </body>
</html>
